<!DOCTYPE html>
<html>
<head>

<title>Weather Dashboard</title>

<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>🌤 Weather Dashboard</h1>

<form method="POST">

<input
type="text"
name="city"
placeholder="Enter City Name"
required>

<button type="submit">Search</button>

</form>

{% if error %}
<p class="error">{{error}}</p>
{% endif %}

{% if weather %}

<div class="card">

<h2>{{weather.city}}, {{weather.country}}</h2>

<img src="https://openweathermap.org/img/wn/{{weather.icon}}@2x.png">

<h1>{{weather.temp}} °C</h1>

<h3>{{weather.description}}</h3>

<div class="details">

<p>💧 Humidity : {{weather.humidity}}%</p>

<p>🌬 Wind : {{weather.wind}} m/s</p>

<p>☁ Condition : {{weather.condition}}</p>

</div>

</div>

{% endif %}

</div>

<script src="{{ url_for('static',filename='script.js') }}"></script>

</body>
</html>